/LogicCalc/nbproject/private/
/LogicCalc/LogicCalc-war/nbproject/private/
/LogicCalc/LogicCalc-ejb/nbproject/private/
/LogicCalc/LogicCalc-ejb/dist/
/LogicCalc/LogicCalc-ejb/build/
/LogicCalc/build/
/LogicCalc/dist/
/LogicCalc/LogicCalc-war/build/
/LogicCalc/LogicCalc-war/dist/
/TimNJavaBean/nbproject/private/
/TimNJavaBean/TimNJavaBean-war/nbproject/private/
/TimNJavaBean/TimNJavaBean-ejb/nbproject/private/
/LogicCalcClient/nbproject/private/
/LogicCalcClient/build/
/LogicCalcClient/dist/